# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

# Secrets
.env

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# mkdocs build output
site/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db

commands.txt
